logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

build
dist
*.tgz

node_modules
typings

*.tsbuildinfo
.npm
.eslintcache
.stylelintcache

.env
.env.test
.env*.local
.vscode-test